
<h4>Equity Details</h4>

<form class="form-group" [formGroup]="symbolForm" *ngIf="currentEquity$ | async as currentEquity">
    
    <label for="symbol">Symbol</label>
    <input type="text"
           class="form-control"
           id="symbol"
           required
           [formControl]="symbolControl"
           name="symbol"/>
    
    <div class="button-container">

        <button class="btn btn-primary mr-2" (click)="saveEquity()">
            Save
        </button>
        
        <button class="btn btn-success mr-2" (click)="updateEquity()">
            Update
        </button>
        
        <button class="btn btn-danger mr-2" (click)="deleteEquity()">
            Delete
        </button>
        
    
    </div>

</form>

<div *ngIf="(currentEquity$ | async) === false">
    <br />
    <p>No current equity dude... (wtf??)</p>
</div>