
<div class="display-container" *ngIf="equities$ | async as equities">
  
  
    <gf-symbol-list class="show-equities"
                    [equities]="equities"
                    (currentEquity)="setCurrentEquity($event)">
    </gf-symbol-list>

    
    <gf-symbol-detail class="equity-detail"
                      [equity]="(currentEquity$ | async) || {}"
                      (refreshList)="refreshList()"
                      (addEquity)="saveEquity($event)"
                      (equityToUpdate)="updateEquity($event)"
                      (equityToDelete)="deleteEquity($event)">
    </gf-symbol-detail>

</div>
