 <div class="submit-form">
      <div *ngIf="!submitted">
        <!-- <div class="form-group" [formGroup]="symbolForm" >
          <label for="symbol">Symbol</label>
          <input type="text"
            class="form-control"
            id="symbol"
            required
            formControlName="symbolControl"
            name="symbol"/>
        </div> -->
        <form class="form-group" [formGroup]="symbolForm" >
            <label for="symbol">Symbol</label>
            <input type="text"
              class="form-control"
              id="symbol"
              required
              formControlName="symbolControl"
              name="symbol"/>
        </form>
    
        <button (click)="saveEquity()" class="btn btn-success">Submit</button>
      </div>
    
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="resetEquity()">Reset</button>
      </div>
    </div>